{% extends 'base.html' %}
{% block menu %}
<li class="nav-item">
    <a class="nav-link" href={{url_for('index')}}>Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href={{url_for('canvas')}}>Canvas</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={{url_for('gallery')}}>Gallery</a>
</li>
{% endblock %}

{% block content %}
<main class="container">
    <div class="rounded p-3" style="position:relative; background-color: #e9ecef; top: 10px">
        <h1>{% block title %}Draw number here{% endblock %}</h1>
        <canvas id="canvas" class="bg-white rounded " style="position: relative; width: 100%; height: 70vh"></canvas>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="position: relative; top: 5px">
            <button id="button_predict" class="btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#prediction_result" disabled>
                Predict number
            </button>
            <button id="button_clear" class="btn btn-lg btn-secondary">Clear canvas</button>
       </div>
    </div>
</main>

<div class="modal fade" id="prediction_result" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Your painting is similar to:</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="predicted_text" class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="d-grid d-sm-flex justify-content-sm-center">
                    <button type="button" id="button_save" class="btn btn-lg btn-dark" data-bs-dismiss="modal" disabled>
                        Save your painting to gallery
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    console.log(ctx.lineWidth);
    const clear_canvas_URL = canvas.toDataURL();
    var button_predict = document.getElementById("button_predict");
    var button_save = document.getElementById("button_save");
    var coord = {x: 0, y: 0};

    document.addEventListener("mousedown", start);
    document.addEventListener("mouseup", stop);
    window.addEventListener("resize", resize);
    resize();

    function resize() {
        ctx.canvas.width = canvas.scrollWidth;
        ctx.canvas.height = canvas.scrollHeight;
    }

    function reposition(event) {
        var rect = canvas.getBoundingClientRect();

        coord.x = event.clientX - rect.left;
        coord.y = event.clientY - rect.top;
    }

    function start(event) {
        document.addEventListener("mousemove", draw);
        reposition(event);
    }

    function stop() {
        document.removeEventListener("mousemove", draw);
    }

    function draw(event) {
        ctx.beginPath();
        ctx.lineWidth = canvas.scrollWidth / 20;
        ctx.lineCap = "round";
        ctx.moveTo(coord.x, coord.y);
        reposition(event);
        ctx.lineTo(coord.x, coord.y);
        ctx.stroke();
        button_predict.disabled = false;
    }

    $("#button_clear").click(function () {
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        button_predict.disabled = true;
    });

    $("#button_predict").click(function () {
        button_save.disabled = true;
        var dataURL = canvas.toDataURL();
        var pageURL = window.location.href;

        $.ajax({
            type: "POST",
            url: pageURL,
            data: {imageBase64: dataURL},
            success: function(info) {
                var splitted_info = info.split(';');
                var div = document.getElementById("predicted_text");
                div.innerHTML = splitted_info[1];
                if (Number(splitted_info[0])){
                    console.log('here');
                    button_save.disabled = false;
                };
            },
        });
    });

    $("#button_save").click(function () {
        this.disabled = true;
        console.log(this.disabled);
        var pageURL = window.location.href;
        console.log('here');
        $.ajax({
            type: "POST",
            url: pageURL,
            data: {save: 1}
        });
    });
</script>
{% endblock %}