{% extends 'base.html' %}
{% block menu %}
<li class="nav-item">
    <a class="nav-link" href={{url_for('index')}}>Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={{url_for('canvas')}}>Canvas</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href={{url_for('gallery')}}>Gallery</a>
</li>
{% endblock %}

{% block content %}
<main class="container">
    <div class="rounded p-3" style="position:relative; background-color: #e9ecef; top: 10px">
        <h1>{% block title %}Gallery of saved numbers{% endblock %}</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Scroll to ...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for key in dict.keys()|sort() %}
                    <li><a class="dropdown-item" href={{"#number_"+key}}>Number {{key}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row photos">
            {% for key in dict.keys()|sort() %}
                <hr class="my-4">
                <h4 id={{"number_"+key}}>{{key}}</h4>
                {% for filename in dict[key] %}
                    <div class="col-sm-6 col-md-4 col-lg-3 item">
                        <a href={{'/static/'+filename}} data-lightbox="photos"><img class="img-fluid" src={{'/static/'+filename}}></a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <br>
    <a id="back-to-top" href="#" class="mr-m2b btn btn-lg btn-dark back-to-top" role="button" style="position: fixed; bottom:15px; right: 15px; display: none">
        ^
    </a>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    const button_display_position = 100;

    $(document).ready(function(){
        $(window).scroll(function(){
            if ($(this).scrollTop() > button_display_position) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });

        document.querySelector('.back-to-top').addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector('main').scrollIntoView({ behavior: 'smooth' });
        });
    });
</script>
{% endblock %}
