{% extends 'base.html' %}
{% block menu %}
<li class="nav-item">
    <a class="nav-link active" href={{url_for('index')}}>Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={{url_for('canvas')}}>Canvas</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={{url_for('gallery')}}>Gallery</a>
</li>
{% endblock %}

{% block content %}
<main class="container">
    <div class="rounded p-3" style="position:relative; background-color: #e9ecef; top: 10px">
        <h1>{% block title %}Numbers detector{% endblock %}</h1>
        <div><font size="+2">
            This application was designed to determine which number the user drew on the canvas page.
            It is also possible to save drawings to the database, if the probability of prediction is greater than 95%.
            The saved drawings are located on the gallery page.
        </font></div>
        <div class="d-grid d-sm-flex justify-content-sm-center" style="position: relative; top: 5px">
            <a href={{url_for('canvas')}} class="btn btn-lg btn-dark" role="button">Try It</a>
       </div>
    </div>
</main>
{% endblock %}